.hero
  background: #f2f2f2 url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat right top 80px
  background-size: contain
  padding-top: 181px
  padding-bottom: 181px
  &__title
    font-size: 30px
    margin-bottom: 40px
  &__subtitle
    display: block
    margin-bottom: 67px
    font-size: 25px
@media (max-width: 991px)
  .hero
    background-size: 100%
    background-position: top right
@media (max-width: 767px)
  .hero
    background: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat right top 80px
    background-size: contain
    padding-top: 140px
    &__title
      margin-bottom: 30px
      font-size: 20px
    &__subtitle
      font-size: 15px
      margin-bottom: 30px

@media (max-width: 561px)
  .hero
    padding-top: 100px
    &__title
      margin-bottom: 15px
    &__subtitle
      margin-bottom: 15px
@media (max-width: 321px)
  .hero
    padding-top: 80px
    &__title
      margin-bottom: 12px
    &__subtitle
      margin-bottom: 12px
